* {
    margin: 0;
    left: 0;
}

html,
body {
    font-family: 'Open Sans', Helvetica, Tahoma, Arial, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
    width: 100%;
    height: 100%;
}

article {
    position: relative;
    width: 100%;
    height: 100%;
}

#chess-board {
    display: block;
    background-color: white;
    margin:150px auto;
}
